<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allan.ijkplayer" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
        android:label="Allan播放器"
            android:screenOrientation="landscape"
            android:name="com.allan.ijkplayer.PlayerVideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
