<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allan.sound" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name="com.allan.sound.ThirdMainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
